


<textarea rows="20" cols="120">
At w3schools.com you will learn how to make a website. We offer free tutorials in all web development technologies.
</textarea>





<form class="form-horizontal">

    <h4>Excluded G-Codes for DryRun</h4>
    <div class="accordion-inner">
        <div class="control-group">
            <p>
                Description of exclusion......
            </p>
            <label class="control-label">G-Codes:</label>
            <div class="controls">
                <textarea id="myTextArea" rows="20" cols="120">
At w3schools.com you will learn how to make a website. We offer free tutorials in all web development technologies.
</textarea>
            </div>
        </div>
    </div>

    <h4>Repetier firmware</h4>
    <div class="accordion-inner">
        <p>
            Description see https://github.com/ntoff/OctoPrint-Debugflags
        </p>
        <div class="control-group">
            <label class="control-label">DryRun - Flag:</label>
            <div class="controls">
                <input type="checkbox" />
            </div>
        </div>
    </div>

</form>


