<span id="dryRun_plugin_settings">
    <div class="control-group">
        <div >
            <label>If you have <b>Repetier Firmware</b>, "dry run" mode is already built in,
                you can easily tweak the debug flags to enable or disable it using this plugin
                <a target="_newTab" href="https://github.com/ntoff/OctoPrint-Debugflags">https://github.com/ntoff/OctoPrint-Debugflags</a>
            </label>
        </div>
    </div>
</span>
