<div style="margin-left:10px;margin-right:10px;">
    <div id="dryrun_plugin_navbar" style="display:none" class="dryrun-sidebar nav navbar-text" >
        <span type="button" class="dryrun-btn">DryRun activated</span>
    </div>
</div>
