.dryrun-sidebar {
    width:100%;
    background-image: repeating-linear-gradient(-45deg, #000, #000 4px, #ff0 4px, #ff0 8px);
    margin-right: 0 !important; /* override .navbar .nav */
}


.dryrun-btn {
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
    display: block;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background-color: #eb0000;
}

#dryRunCheckboxDiv{
    padding-top:40px;
}

#touch #dryRunCheckboxDiv{
    padding-top:65px;
}

